<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>338580553982-voi5fmr35ld7gikesbm0gk178veoll43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338580553982-voi5fmr35ld7gikesbm0gk178veoll43</string>
	<key>API_KEY</key>
	<string>AIzaSyBCNFqgXO981rp5oX_6Sg8Uf3fXLpcSz_4</string>
	<key>GCM_SENDER_ID</key>
	<string>338580553982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chrisvillanueva.MostWantedWeek</string>
	<key>PROJECT_ID</key>
	<string>mostwantedweek-e840a</string>
	<key>STORAGE_BUCKET</key>
	<string>mostwantedweek-e840a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:338580553982:ios:5c475e7e0d27c08a</string>
	<key>DATABASE_URL</key>
	<string>https://mostwantedweek-e840a.firebaseio.com</string>
</dict>
</plist>